{% extends "layout.njk" %}
{% block head %}
    <title>Sobre</title>
{% endblock %}
  
  

{% block content %}
      <main>
        <div class="about">
          <!-- Sobre -->
          <h1>Sobre o Foodfy</h1>
          <div class="paragraph">
            <p>
              Curabitur sed massa quis nulla pharetra aliquet. Proin bibendum ut dui eget vestibulum. Quisque venenatis in odio porta fermentum. Donec maximus nisl sed odio varius, eget facilisis orci accumsan. Phasellus eleifend sapien quis leo vulputate, at aliquet neque eleifend. Maecenas malesuada, diam vel gravida interdum, ipsum mauris suscipit urna, lobortis placerat ante odio in enim. Etiam eget odio faucibus, maximus libero vitae, elementum leo. Etiam eu orci ante. Fusce pellentesque vel felis non mattis. Pellentesque eu lacinia mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean dictum quam ac iaculis tristique. Etiam imperdiet tincidunt dignissim.
            </p>
            <p>
              Nunc viverra gravida nulla, id congue dolor lobortis in. Morbi nulla elit, porta eget turpis at, ultrices dapibus risus. Nunc eu dapibus nisi, vitae feugiat mi. Phasellus at velit molestie, egestas urna dictum, euismod magna. In ut cursus sem. Donec sit amet justo nec sem sollicitudin rhoncus. Mauris gravida volutpat arcu, feugiat volutpat dui mattis in.
            </p>
          </div>
          
          <!-- Início  -->
          <h2>Como tudo começou...</h2>
          <div class="paragraph">
            <p>
              Curabitur sed massa quis nulla pharetra aliquet. Proin bibendum ut dui eget vestibulum. Quisque venenatis in odio porta fermentum. Donec maximus nisl sed odio varius, eget facilisis orci accumsan. Phasellus eleifend sapien quis leo vulputate, at aliquet neque eleifend. Maecenas malesuada, diam vel gravida interdum, ipsum mauris suscipit urna, lobortis placerat ante odio in enim. Etiam eget odio faucibus, maximus libero vitae, elementum leo. Etiam eu orci ante. Fusce pellentesque vel felis non mattis. Pellentesque eu lacinia mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean dictum quam ac iaculis tristique. Etiam imperdiet tincidunt dignissim.
            </p>
            <p>
              Nunc viverra gravida nulla, id congue dolor lobortis in. Morbi nulla elit, porta eget turpis at, ultrices dapibus risus. Nunc eu dapibus nisi, vitae feugiat mi. Phasellus at velit molestie, egestas urna dictum, euismod magna. In ut cursus sem. Donec sit amet justo nec sem sollicitudin rhoncus. Mauris gravida volutpat arcu, feugiat volutpat dui mattis in.
            </p>
          </div>
          
          <!-- Receitas -->
          <h2>Nossas receitas</h2>
          <div class="paragraph">
            <p>
              Praesent lorem nibh, scelerisque non neque non, dignissim pretium ex. Pellentesque enim arcu, tempor eu justo ut, blandit mattis dui. Duis faucibus nunc porta, condimentum nulla dapibus, tempor turpis. Morbi nisl lorem, scelerisque id diam eu, tincidunt scelerisque nulla. Maecenas nec laoreet diam. Duis laoreet quam ac leo vehicula gravida. Proin facilisis dui ipsum, in fringilla arcu commodo at. Phasellus vel dignissim metus. Integer interdum, mauris ac semper mattis, ante risus dignissim neque, at vestibulum ipsum leo sit amet nibh. Donec pellentesque rhoncus sapien sit amet gravida. In egestas dolor in elit viverra, non venenatis lacus volutpat. Curabitur eleifend tincidunt dolor nec ultricies. Aenean iaculis suscipit ornare. Integer interdum augue ac ligula scelerisque, quis fringilla mi pretium. In ornare nibh sit amet massa pellentesque fermentum.
            </p>
          </div>
         
      </main>
{% endblock content %}