{% extends "layout.njk" %}

{# HEAD #}
{% block head %}
    <title>{{recipe.title}}</title>
{% endblock %}
  
{# CONTENT #}
{% block content %}
   <main class="description">
      
      {# -- APRESENTATION -- #}
      <div class="apresentation">
         <img src="{{recipe.image}}" alt="{{recipe.id}}">
         <h1>{{recipe.title}}</h1>
         <p>por {{recipe.author}}</p>
      </div>

      <div class="step-by-step">
         {# -- INGREDIENTS -- #}
         <div class="ingredients">
            <div class="topic">
               <h1>Ingredientes</h1>
               <button id="ingredients-button">ESCONDER</button>
            </div>
            <ul class="ingredients">
               {% for ing in recipe.ingredients %}
                  <li>{{ing}}</li>
               {% endfor %}
            </ul>
         </div>

         {# -- PREPARATION -- #}
         <div class="preparation">
            <div class="topic">
               <h1>Modo de preparo</h1>
               <button id="preparation-button">ESCONDER</button> {# Precisa virar mostrar#}
            </div>
            <div class="paragraphs">
               {% for prep in recipe.preparation %}
                  <p>{{prep}}</p>
               {% endfor %}
            </div>
         </div>
         
         {# -- INFORMATION #}
         <div class="information">
            {% if recipe.information %}
               <div class="topic">
                  <h1>Informações adicionais</h1>
                  <button id="information-button">ESCONDER</button>
               </div>
               <p class="information">{{recipe.information}}</p>
            {% endif %}
         </div>
      </div>
   </main>
   <script src="/script.js"></script>
{% endblock content %}