{% extends "layout.njk" %}
{% block head %}
  <title>Error 404</title>
{% endblock head %}

{% block content %}
      <main>
        <div class="banner">
          <div class="text">
            <h1>Error 404</h1>
            <p>A página que você busca, não existe. Verifique se sua busca está correta.</p>
          </div>
          <img src="https://image.flaticon.com/icons/svg/2622/2622079.svg" alt="sad" class="not-found">
          <img src="https://image.flaticon.com/icons/svg/526/526190.svg" alt="sad" class="not-found-hat">
        </div>
      </main>
    </div>
{% endblock content %}k