@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700,700i,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  max-width: 940px;
  margin: 0 auto;

  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
}

/*  === MENU === */

header {
  width:200px;

  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

header #logo{
  width:90.6px;
  height: 26.9px;
}

#links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 130px;
}

#links a {
  margin:5px 20px;
  font-size: 16px;
  font-weight: 400;

  text-decoration: none;
  color:#111111;
}

#links a:hover {
  opacity: 60%;
}

#links #active{
  font-weight: bold;
}


/* === MOST ACCESSED === */

#most-accessed {
  width: 100%;
  margin-top: 50px;
}


#most-accessed h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

#most-accessed  #wrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}

#most-accessed #wrapper .revenue img{
  width:300px;
  height: 140px;
  border-radius: 20px;
}

#most-accessed .revenue img:hover {
  transition: 200ms;
  cursor: pointer;
  box-shadow: 0 2px 10px 5px #00000030;
}

#most-accessed #wrapper .revenue .info-revenue {
  display: grid;
}

#most-accessed #wrapper .revenue .info-revenue .revenue-name {
    margin-top:10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

#most-accessed #wrapper .revenue .info-revenue .author {
  color:#777;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

/*  === MODAL === */

.modal-overlay {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    
    opacity: 1;
    visibility: visible;
}
  
.modal {
  width: 500px;
  height: 360px;

  margin:30vh auto;
  padding: 30px;
  
  position: relative;

  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.modal-content img {
  width: 500px;
  height: 200px;
  
  border-radius: 20px;
}

.modal-info {
  margin-top: 20px;
  display: grid;
}

.modal-info span {
  font-family: 'Roboto', sans-serifs;
  color: #111111;
  font-size: 24px;
  line-height: 28px;
}

.modal-info .author {
  color:#777777;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  font-weight: 300;
}

#close-modal {
  margin: 70px auto;
  text-align: center;
  border: 0;
  background-color: transparent;
  color:#999999;
  outline: 0;
}

#close-modal:hover {
  color: #777;
  cursor: pointer;
}

/* === FOOTER === */
footer {
  width: 100%;
  margin-top: 10vh;
  
  padding: 31px 0;
  background-color: #eee;
  text-align: center;
  
  color: #999999;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  bottom:0;
  position:relative;
}
