@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 940px;
  margin: 0 auto;
 }

/* HEADER */

header {
  padding: 36px 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.logo {
  width: 90.6px;
  height: 26.9px;
}

.menu {
  margin: auto -100px;
}

.menu a {
  margin-right:20px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: #111;
}

.menu a:hover{
  color: #666;
}

.menu #link {
  font-weight: 600;
}

/* BANNER */

.banner {
  width: 940px;
  height: 366px;

  position: relative;

  padding: 4%;

  background-color: #FBDFDB;
  border-radius: 20px;
}

.banner h1 {
  margin-top: 90px;
  color: #111;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin-top:10px;

  width: 320px;
  height: 258px;

  color: #111;
  opacity: 0.7;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  
}

.banner img {
  position: absolute;
  bottom: 0;
  right: 90px;
}

.banner .not-found-hat {
  position: absolute;
  top: 39px;
  right: 125px;
  height: 129px;
}

.banner .not-found {
  position: absolute;
  bottom: 50;
  height: 200px;
}

/*Recipe List*/

.most-accessed, .about {
  margin: 40px auto;
}

.most-accessed h1, .about h1{
  color: #111;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

/* --- ABOUT --- */
.about h2 {
  margin-top: 80px;
  color: #111;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.paragraph {
  width: 940px;
  height: 280px;

  color:#444444;
  font-size: 18px;
  line-height: 28px;
}

.paragraph p {
  margin: 40px auto;
}

/*--- RECIPES ---*/

.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:18px;
}

.recipe {
  margin-top: 20px;
}

.recipe img {
  width: 300px;
  height: 140px;
  border-radius: 10px;
}

.recipe img:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.4);
}

.info {
  margin-top: 20px;
}

.recipe-name{
  color: #111;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.author {
  color: #777;
  font-size: 14px;
  line-height: 24px;
}

/* ---- MODAL ---- */

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  text-align: center;
  background-color: rgba(0,0,0,0.6);

  opacity: 0;
  visibility: hidden;
}

.modal {
  margin: 380px auto;
  
  width: 660px;
  height: 495px;

  padding: 30px;

  border-radius: 10px;
  background-color: #fff;
}

.modal img {
  width: 600px;
  height: 280px;
  border-radius: 10px;
}

.modal .recipe-name{
  color: #111;
  font-size: 24px;
  line-height: 28px;
}

.modal .author {
  margin-top: 5px;
  columns: #777777;
  font-size: 18px;
  line-height: 21px;
}

.modal .close-modal {
  margin-top: 80px;  
  
  background-color: #fff;
  border: none;
  cursor: pointer;
  
  color: #999999;

  font-size: 16px;
  line-height: 19px;
}

.modal .close-modal:hover{
  color: #777;
}


.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

main {
  margin-bottom: 40px;
}






/*=== DESCRIPTION === */

main.description{
  color: #111;
}

main h1 {
  margin:45px 0 20px ;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

main p, li {
  color: #444444;
}

.topic button {
  margin-top: -37px;
  padding: 0;
  border: none;
  
  background-color: #fff;

  text-align: right;
  color: #999999;
  
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;

  cursor: pointer;
}

.apresentation {
  text-align: center;
}

.apresentation img {
  width: 940px;
  height: 280px;
  background-color: #ddd;
  border-radius: 20px;
}

.apresentation h1 {
  margin-top:45px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
}

.apresentation p {
  margin-top: -15px;
  color: #777777;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.ingredients button {
  margin-left: 150px;
}

.ingredients li{
  margin-top: 5px;
}

.preparation button{
  margin-left: 195px;
}

.information button{
  margin-left: 270px;

}





/* === FOOTER === */
footer {
  margin-top: auto;
  width: 100%;
  padding: 20px;
  
  background-color: #eee;
  color:#999;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
}
